<div class="fundo">
    <div class="container">
        <div class="row">
            <div class="footer-col-1 footer">
                <h3>baixe nosso aplicativo</h3>
                <p>baixe nosso aplicativo para celular, android e ios</p>
                <div class="app-logo">
                    <img src="assets/img/play-store.png">
                    <img src="assets/img/app-store.png">
                </div>
            </div>

            <div class="footer-col-2 footer">
                    <img src="assets/img/imagem2.png">
                <p>A nossa missão é inspirar e valorizar a paixão pela tecnologia, jogos, conteúdos,
                    entretenimento<br> e inovação, causando uma emoção inédita, criando experiências
                    e prazeres.</p>     
            </div>

            <div class="footer-col-3 footer">
                <h3>Links Úteis</h3>
                <ul>
                    <li>cupoms</li>
                    <li>blog post</li>
                    <li>política de devolução</li>
                    <li>juntar-se ao afiliado</li>
                </ul>
            </div>

            <div class="footer-col-4 footer">
                <h3>Siga-nos</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Intagram</li>
                    <li>twitter</li>
                    <li>youtube</li>
                </ul>
            </div>
            
        </div>
        <hr>
        <p class="copyright">direito autoral 2022 - Julia Emily Leonardo Barbosa</p>
    </div>
</div>