<h1 class="logo">formulario <span>contato</span></h1>

        <div class="contact-wrapper animated bounceInUp">
            <div class="contact-form">
                <h3>formulario de contato</h3>
                <form action="">
                    <p>
                        <label>Nome Completo</label>
                        <input type="text" name="fullname">
                    </p>
                    <p>
                        <label>Email </label>
                        <input type="email" name="email">
                    </p>
                    <p>
                        <label>Telefone</label>
                        <input type="tel" name="phone">
                    </p>
                    <p>
                        <label>Assunto</label>
                        <input type="text" name="affair">
                    </p>
                    <p class="block">
                       <label>Mensagem</label> 
                        <textarea name="message" rows="3"></textarea>
                    </p>
                    <p class="block">
                        <button>
                            Enviar
                        </button>
                    </p>
                </form>
            </div>
            <div class="contact-info">
                <h4>para mais informações</h4>
                <ul>
                    <li><i class="fas fa-map-marker-alt"></i>Avenida 9 de julho</li>
                    <li><i class="fas fa-phone"></i> (11) 11111-1111</li>
                    <li><i class="fas fa-envelope-open-text"></i> GameMania@gmail.com</li>
                </ul>
                <p>Quero proporcionar um serviço de qualidade, qualquer reclamação pode entrar em contato a gente</p>
                <p>GameMania.com.br</p>
            </div>
        </div>
