<div class="row">
    <div class="col-2">
        <h1>Bem-vindo </h1>
        <p>venha comprar os melhores produtos de jogos aqui</p>
        <a href="search-box.html" class="btn">explorar agora &#8594;</a>
    </div>
    <div class="col-2">
       <img src="assets/img/imagem2.png">
    </div>
</div>
  <!----- Categorias em Destaque ------>
  <div clas="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3"> 
                <img src="assets/img/Mouse1.webp">
            </div>
            <div class="col-3"> 
                <img src="assets/img/MIC2.webp">
            </div>  
            <div class="col-3"> 
                <img src="assets/img/teclado2.webp">
            </div>
        </div>
    </div>

</div>
<!----- produto em destaque------>
<div class="smal-container">
    <h2 class="title">produto em destaque</h2>
    <div class="row">
        <div class="col-4">
            <img src="assets/img/monitor1.webp" >
            <h4>monitor gamer </h4>
            <div class="rating">
                
            </div>
            <p>R$957,00</p>
            <button class="btn btn-prymary shop-item-button" type="buttons">comprar</button>
        </div>
        <div class="col-4">
            <img src="assets/img/headset2.webp" >
            <h4>headset gamer </h4>
            <div class="rating">
             
            </div>
            <p>R$215,00</p>
            <button class="btn btn-prymary shop-item-button" type="buttons">comprar</button>
        </div>
        <div class="col-4">
            <img src="assets/img/gabinete1.webp" >
            <h4>gabinete gamer </h4>
            <div class="rating">
                
            </div>
            <p>R$1.200,00</p>
            <button class="btn btn-prymary shop-item-button" type="buttons">comprar</button>
        </div>
        <div class="col-4">
            <img src="assets/img//Mouse1.webp" >
            <h4>mouse gamer </h4>
            <div class="rating">
             
            </div>
            <p>R$530,00</p>
            <button class="btn btn-prymary shop-item-button" type="buttons">comprar</button>
        </div>
    </div>
    <!-------produtos mais recentes------->
    <h2 class="title">produtos mais recentes</h2>
    <div class="row">
        <div class="col-4">
            <img src="assets/img/teclado2.webp" >
            <h4>teclado gamer </h4>
            <div class="rating">
                
            </div>
            <p>R$280,00</p>
            <button class="btn btn-prymary shop-item-button" type="buttons">comprar</button>
        </div>
        <div class="col-4">
            <img src="assets/img/MIC2.webp" >
            <h4>microfone gamer </h4>
            <div class="rating">
             
            </div>
            <p>R$380,00</p>
            <button class="btn btn-prymary shop-item-button" type="buttons">comprar</button>
        </div>
        <div class="col-4">
            <img src="assets/img/GC-F007.webp" >
            <h4>fan </h4>
            <div class="rating">
                
            </div>
            <p>R$750,00</p>
            <button class="btn btn-prymary shop-item-button" type="buttons">comprar</button>
        </div>
        <div class="col-4">
            <img src="assets/img/WEBCAM.webp" >
            <h4>web cam </h4>
            <div class="rating">
             
            </div>
            <p>R$295,00</p>
            <button class="btn btn-prymary shop-item-button" type="buttons">comprar</button>
        </div>
</div>
<!-----oferta----->
<div class="offer">
<div class="row">
<div class="col-2">
    <img src="assets/img/cadeira2.png" class="offer-img" >
</div>
<div class="col-2">
    <p>disponível exclusivamente na loja</p>
    <h1>cadeira gamer</h1>
     <small>Dessa forma, a cadeira pode oferecer alto conforto, mesmo por longos períodos de uso. DURABILIDADE Feita com materiais de alta qualidade, a cadeira oferece durabilidade reforçada, suportando ESPECIFICAÇÕES Modelo: alpha Preta/Vermelha</small>
     <a href="cadeira.html" class="btn">compre agora &#8594;</a>
    </div>
</div>
</div>

<router-outlet></router-outlet>